body {
    
    
}	

/* 
	스크롤바 유무에 따른 좌우 정렬 이동을 막기 위함 
*/

.ui.grid > .row.daria_padding_bottom_0 {
	padding-bottom: 0;
}

.ui.grid > .column.daria_padding_bottom_0 {
	padding-bottom: 0;
}

.ui.grid > .column.daria_padding_top_12 {
	padding-top: 12px;
}

.ui.grid > .column.daria_padding_bottom_12 {
	padding-bottom: 12px;
}

.ui.grid > .column.daria_padding_top_0 {
	padding-top: 0;
}

.ui.grid > .column.daria_padding_left_0 {
	padding-left: 0;
}

.ui.grid > .column.daria_margin_right_0 {
	margin-right: 0;
}

.ui.grid > .column.daria_margin_top_0 {
	margin-top: 0;
}

.ui.grid > .row.daria_margin_top_0 {
	margin-top: 0;
}

.ui.grid > .row.daria_padding_top_0 {
	padding-top: 0;
}

.ui.grid > .row.daria_padding_bottom_0 {
	padding-bottom: 0;
}


.ui.grid > .column.card.daria_card_top {
	border-top: 20px solid #7986cb;
}

.ui.table > .ui.daria_table_padding_left_0 {
    padding-left: 0;
}

.daria_checkbox_padding_top_3 {
	padding-top: 3px;
}

/* no interactive histogram box */
svg.xb-no-int-dist rect.box {
    fill: #BFC5EB;
}

/* interactive histogram box */
svg.xb-int rect.box {
    fill: #D4D8F0;
}

/* hover style */
svg.xb-int rect.box.active {
	fill: #BFC5EB;
}


svg rect.grey-line  { fill: #BDBDBD;}
svg rect.aixs-line 	{ fill: #525252;}
svg rect.purple-line { fill: #BFC5EB; }
svg rect.purple-rect { stroke: #BFC5EB; fill: transparent; stroke-width: 2px;}

/* Bold cass*/
.xb-bold {
    font-weight: bold;
}

.edit_header {
}

.edit_header:hover {
    font-weight: bold;
    cursor: pointer;
}

.edit_table {
    position: relative;
}

.edit_table:hover {
    font-weight: bold;
}

.edit_table .xb-td-float-right {
    position: absolute; 
    right: 0px;
    top: 1px;
}

.edit_table i{
    display: inline;
    color: #B1B1B1;
    font-size: 0.6em;
    vertical-align: 2px;
    padding-right: 5px;
}

.overflow {
    overflow-y: scroll;
}


.ui.operator {
    border: solid 2px #C0C6EC;
}

.ui.operator:hover {
    border: solid 2px #939CD3;
    cursor: grab;
}

.ui.operator:active {
    border: solid 3px #939CD3;
    cursor: grabbing;
}

.edit_table h2 .xb-end-span-icon {
    display: inline-block;
}

.right_buttons{
    display: none;
}
table tr:hover .right_buttons{
    display: block;
}

.unmounted {
    color: #BBBBBC;
    background: #FAFAFB;
}

.break-word {
    width: 5px;
    overflow-wrap: break-word;
    white-space:normal;
    word-break:break-all;
    line-height: 150%;
}

.ui.fixed.table th,
.ui.fixed.table td {
    overflow: visible;
}

.pointer {
    cursor: pointer;
}

.rename {
    color: #3949AB;
}

.rename:hover {
    cursor: pointer;
    font-weight: bold;
}

.name_color_link {
    color: #5C6BC0;
    font-weight: bold;
}

.name_color_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.name {
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.arrow-button {
}

.arrow-button:hover {
    cursor: pointer;
    color: #00897B;
    font-weight: bold;
}

.result {
    font-weight: bold;
}

.element {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.truncate {
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*responsive truncate*/
.flex-parent {
    display: flex;
}

.flex-img {
    max-height: 50px; 
    margin-right: 10px;
}

.flex-child {
    flex: 1; 
    min-width: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-cell {
    max-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/**/

.ui.table th.red {
    background-color: #ffebee; 
    color: #b71c1c;
}

.ui.table th.red:hover {
    cursor: pointer;
    background-color: #ffcdd2; 
    color: #b71c1c;
    text-decoration: underline;
}

.ui.table th.yellow {
    background-color: #fff8e1; 
    color: #573a04;
}

.ui.table th.yellow:hover {
    cursor: pointer;
    background-color: #ffecb3; 
    color: #573a04;
    text-decoration: underline;
}

.ui.table th.green {
    background-color: #E0F2F1; 
    color: #012D25;
}

.ui.table th.green:hover {
    cursor: pointer;
    background-color: #B2DFDB; 
    color: #012D25;
    text-decoration: underline;
}

.ui.table th.white:hover {
    cursor: pointer;
    background-color: #eeeeee;
    text-decoration: underline;
}

.selected {
    background: #F2F2F2;
}

/*right side panel*/
#sidenav {
    height: 100%;
    width: 350px;
    right: 0;
    top: 180px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0s;
    margin-top: -1px;
    border-left: 1px solid #D9DADC;
    background: #fff;
}

/**/
#cntnr{
    display:none;
    position:fixed;
    background:#F9F9F9;
    box-shadow: 3px 3px 2px #E9E9E9;
    z-index: 3;
}

.ui.toggle.checkbox[class*="right floated"] {
    float: right !important;
    margin-right: 0em !important;
    margin-left: 1em !important;
}